*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.bk{
    background-image: url('../img/2.JPG') ;
}
.navbar img{
    width: auto;
    height: 50px;
    border-radius:50%;
}
.t-va{
    color: #26579f ;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
    font-size: 15px;
}
.fg{
    background-image: url('../img/fg.WEBP');
    background-position: 50%;
    padding-top: 3%;
}
.hero-section, .about-hero-section, .contact-hero-section, .gallery-hero-section{
    height: 520px;
    background-position: 10% 0%;
}
.hero-section{
    background-image: url('../img/2.JPG');
}
.about-hero-section{
    background-image: url('../img/7.JPG');
}
.contact-hero-section{
    background-image: url('../img/contact.WEBP');
}
.gallery-hero-section{
    background-image: url('../img/g5.WEBP');
}
.two{
    background-image: url('../img/5.JPG');
    background-position: 0% 50%;
}
.three{
    background-image: url('../img/3.JPG');
}
body .customer-section img{
    width: 70% !important;
    height: auto !important;
}
body footer svg{
    fill: white !important;
}
